<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
		    <class name="api17.chaining.CreateUser" />
			<class name="api17.chaining.GetUser" />
			<class name="api17.chaining.UpdateUser" />
			<class name="api17.chaining.DeleteUser" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
